In [2]:
import pandas as pd
import numpy as np 

doc = []
with open("date.txt") as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [3]:
text_test='''
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010
'''


doc=[x.strip() for y in text_test.splitlines() for x in y.split(";")]
df_test = pd.Series(doc)
df_test

0
1         * 04/20/2009
2             04/20/09
3              4/20/09
4               4/3/09
5        * Mar-20-2009
6         Mar 20, 2009
7       March 20, 2009
8        Mar. 20, 2009
9          Mar 20 2009
10       * 20 Mar 2009
11       20 March 2009
12        20 Mar. 2009
13      20 March, 2009
14    * Mar 20th, 2009
15      Mar 21st, 2009
16      Mar 22nd, 2009
17          * Feb 2009
18            Sep 2009
19            Oct 2010
20            * 6/2008
21             12/2009
22              * 2009
23                2010
dtype: object

In [7]:
def date_sorter(df):
    
    
    
    # There are 4 formats for the dates: 1) Dates are in numbers 2) Dates are in text 3) Dates without days, only month and year
    #Dates are in numbers
    re1=r"(\d{1,2}[-/\.]{1}\d{1,2}[-/\.]{1}(\d{2}\b|\d{4}\b))"
    df1=pd.DataFrame()
    df1['re1'] = df.str.extract(re1)[0]
    
    #month day year; 
    re2=r"((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec){1}[a-z]*\b[\.,]?[\s\-]\d{1,2}(?:(?:st)|(?:th)|(?:nd))?[\.,]?[\s\-](\d{2}\b|\d{4}\b))"
    df1['re2'] = df.str.extract(re2)[0]
    
    #day month year; 
    re3=r"(\d{1,2}(?:(?:st)|(?:th)|(?:nd))?[\.,]?[\s\-](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec){1}[a-z]*\b[\.,]?[\s\-](\d{2}\b|\d{4}\b))"
    df1['re3'] = df.str.extract(re3)[0]
  
    
    # month year; 
    re4=r"((?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec){1}[a-z]*)(?:[\.,]?[\s\-/](\d{2}\b|\d{4}\b)))"
    df1['re4'] = df.str.extract(re4)[0]
    
    # month date year; 
    re5=r"(\d{1,2}/\d{4})"
    df1['re5'] = df.str.extract(re5)[0]  
    
    # year
    re6=r"(\d{4})"
    df1['re6'] = df.str.extract(re6)
    
    #df2=df1.dropna(how='all')
    df2=df1.copy()    
    df2['re']= df2['re1'].combine_first(df2['re2'])\
    .combine_first(df2['re3']).combine_first(df2['re4']).combine_first(df2['re5']) .combine_first(df2['re6']) 
    df2['re']=df2['re'].replace('Decemeber','December',regex=True).replace('Janaury','January',regex=True)
    df2['re']=pd.to_datetime(df2['re'])

    #df3=df2['re'].sort_values().index

    return  df2['re']

date_sorter(df_test)

0           NaT
1    2009-04-20
2    2009-04-20
3    2009-04-20
4    2009-04-03
5    2009-03-20
6    2009-03-20
7    2009-03-20
8    2009-03-20
9    2009-03-20
10   2009-03-20
11   2009-03-20
12   2009-03-20
13   2009-03-20
14   2009-03-20
15   2009-03-21
16   2009-03-22
17   2009-02-01
18   2009-09-01
19   2010-10-01
20   2008-06-01
21   2009-12-01
22   2009-01-01
23   2010-01-01
Name: re, dtype: datetime64[ns]

In [8]:
date_sorter(df)

0     1993-03-25
1     1985-06-18
2     2071-07-08
3     1975-09-27
4     1996-02-06
         ...
495   1979-01-01
496   2006-01-01
497   2008-01-01
498   2005-01-01
499   1980-01-01
Name: re, Length: 500, dtype: datetime64[ns]